USE [master]
GO
/****** Object:  Database [homecompany]    Script Date: 2020/8/16 下午 08:21:21 ******/
CREATE DATABASE [homecompany]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'homecompany', FILENAME = N'C:\Users\loveu\homecompany.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'homecompany_log', FILENAME = N'C:\Users\loveu\homecompany_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [homecompany].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [homecompany]
GO
USE [homecompany]
GO
/****** Object:  Table [dbo].[TSell]    Script Date: 2020/8/16 下午 08:21:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSell](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[ItemNo] [nvarchar](50) NOT NULL,
	[Size] [nvarchar](50) NOT NULL,
	[NW] [nvarchar](50) NOT NULL,
	[GW] [nvarchar](50) NOT NULL,
	[Harber] [nvarchar](50) NOT NULL,
	[HarberCode] [nvarchar](50) NOT NULL,
	[OrderNo] [nvarchar](50) NOT NULL,
	[Po] [nvarchar](50) NOT NULL,
	[CDate] [int] NOT NULL,
	[Date] [int] NOT NULL,
 CONSTRAINT [PK_TSell] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TSellhead]    Script Date: 2020/8/16 下午 08:21:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSellhead](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Qunatity] [int] NOT NULL,
	[ItemNo] [int] NOT NULL,
	[Size] [int] NOT NULL,
	[NW] [int] NOT NULL,
	[GW] [int] NOT NULL,
	[Harber] [nvarchar](50) NULL,
	[Po] [nvarchar](50) NULL,
	[Date] [int] NOT NULL,
	[OrderNo] [int] NULL,
	[HarberCode] [nvarchar](50) NULL,
 CONSTRAINT [PK_TSellhead] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TSell] ON 

INSERT [dbo].[TSell] ([Id], [Quantity], [ItemNo], [Size], [NW], [GW], [Harber], [HarberCode], [OrderNo], [Po], [CDate], [Date]) VALUES (1, 1, N'1', N'11', N'1', N'1', N'1', N'1', N'1', N'1', 20200110, 20200110)
SET IDENTITY_INSERT [dbo].[TSell] OFF
USE [master]
GO
